* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .mynav {
        background: #121920;
        }

        .mynav-brand {
        font-weight: bold;
        font-size: 1.5rem;
        color: white ;
        }

        .mynav-nav .nav-link {
        color: #84ccff ;
        transition: color 0.3s, transform 0.3s;
        }

        .mynav-nav .nav-link:hover {
        color: #ffffff ;
        transform: scale(1.05);
        }

        .dropdown-menu {
        background: #1c2530;
        }
        .dropdown-item {
        color: #84ccff;
        }
        .dropdown-item:hover {
        background: #2a3442;
        color: white;
        }


        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #121920;
            color: white;
            line-height: 1.6;
            padding: 20px;
        }
        .logo{
            width: 160px;
            height: auto;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: url('yo.jpeg');
            padding: 20px 15px;
            text-align: center;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .cuadro{
            width: 300px;
            height: 100px;
            background-color: lightgray;
            border: 2px solid #000;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: black;
        }
        main, section {
            background: #121920;
            border-radius: 8px;
            padding: 20px 25px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.05);
        }
        h1, h2 {
            margin-bottom: 15px;
        }
        ol[type="a"] {
            padding-left: 20px;
            margin-bottom: 15px;
        }
        ol[type="a"] li {
            margin-bottom: 8px;
        }
        a {
            color: #007acc;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        a:hover {
            color: #005a99;
            text-decoration: underline;
        }
        footer {
            text-align: center;
            font-size: 0.9rem;
            color: #555;
            margin-top: 40px;
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }
        footer a {
            display: inline-block;
            margin: 6px 10px;
        }